<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865790848249-p87tbjstndqc92qs3r27cai5b5ltpp1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865790848249-p87tbjstndqc92qs3r27cai5b5ltpp1o</string>
	<key>API_KEY</key>
	<string>AIzaSyChu3e8pVQIa80OUxACbgUS8fotQbRmpHg</string>
	<key>GCM_SENDER_ID</key>
	<string>865790848249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymOccupancy</string>
	<key>PROJECT_ID</key>
	<string>gym-occupancy-d90d0</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-occupancy-d90d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865790848249:ios:5adab5b46ea8f335ebc628</string>
	<key>DATABASE_URL</key>
	<string>https://gym-occupancy-d90d0-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>